.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-size: 35%;

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    color: #e69138;

    h2 {
      font-size: 1.5rem;
    }

    .row {
      display: flex;
      align-items: center;

      p,
      a {
        margin: 0;
        color: inherit;
      }

      .register-link {
        margin: 0 1rem;
        padding: 0.5rem;
        background-color: #e69138;
        border-radius: 0.5rem;
        color: black;
        font-size: 1rem;
      }
    }

    .row:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 786px) {
  .register-container {
    overflow-y: overlay;
    flex-direction: column;
    justify-content: flex-start !important;
    padding-bottom: 3rem;
    padding-top: 8vh;
    box-sizing: border-box;

    .column {
      text-align: center;
      font-size: 1.25rem;

      h2 {
        margin-top: 4rem;
        font-size: 1.5rem;
      }

      .row {
        flex-direction: column;

        .register-link {
          margin: 0.5rem 0;
        }
      }
    }
  }
}
